* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --containerwidth: 700px;
}

body {
  position: relative;
  width: var(--containerwidth);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.infoContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  padding: 16px 16px 10px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.searchBar {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 90%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.searchBar img {
  height: 18px;
  opacity: 70%;
}

#search {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 16px 0;
  background-color: transparent;
}

.count {
  font-size: 14px;
  color: gray;
}

#tabsList {
  list-style-type: none;
  padding: 102px 32px 16px 16px;
}

.listItem {
  width: 100%;
  background-color: hsl(0, 0%, 93%);
  margin: 16px 0;
  padding: 10px 10px 10px 16px;
  border-radius: 5px;

  display: flex;
  gap: 16px;
}

.listItem input {
  transform: scale(1.5);
}

.tabContent {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.listItem a {
  width: 100%;
  color: hsl(0, 0%, 40%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.topWrapper .favicon {
  max-height: 22px;
  max-width: 22px;
  margin-right: 8px;
}

.topWrapper p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabButton {
  height: 28px;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 4px;
  transition-duration: 300ms;
  background-color: transparent;
}

.tabButton:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 75%);
}

.tabButton:active {
  background-color: hsl(0, 0%, 65%);
}

.tabButton img {
  height: 100%;
}

#closeButton {
  padding: 8px;
}

#closeButton img {
  transform: translateY(-2px);
}

#multiSelectActions {
  display: none;
  gap: 16px;
}

.basicButton {
  outline: none;
  border: none;
  padding: 10px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  transition-duration: 300ms;
  font-weight: 600;
}

.basicButton:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 75%);
}
